.shoe-list > div.shoe-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 20rem;
  padding: 1rem;
  border: 1px solid var(--element-border);
  border-radius: 5px;
}

.shoe-header .shoe-name,
.shoe-price-info .price-title {
  color: grey;
}

.shoe-item .shoe-brand {
  font-size: 0.8rem;
  font-weight: 400;
}

.shoe-item .shoe-item-image > img {
  margin: 2rem 0;
}

.shoe-item .shoe-item-image > img {
  max-width: 100%;
  max-height: 100%;
}

.shoe-item .shoe-additional-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shoe-item .shoe-price-info {
  padding: 5px;
}

.shoe-price-info .price-title {
  font-size: 0.8rem;
  padding-bottom: 3px;
}

.shoe-item .shoe-additional-images > img {
  width: 3rem;
  height: 2rem;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid var(--element-border);
  border-radius: 10px;
}

@media screen and (min-width: 40rem) {
  .shoe-list > div.shoe-item {
    max-width: 15rem;
  }
}
