.shoe-listing-container {
  height: 100%;
  padding: var(--space-around);
  border-right: 1px solid var(--element-border);
  overflow-y: auto;
}

.shoe-listing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoe-listing-header .shoe-listing-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.shoe-listing-header .checkbox-filter {
  margin-right: var(--space-around);
}

@media screen and (min-width: 40rem) {
  .shoe-listing-container {
    width: var(--right-panel-width);
  }
}
