.navbar-container {
  position: sticky;
  display: flex;
  justify-content: start;
  align-items: center;
  height: var(--navbar-height);
  border-bottom: 1px solid var(--element-border);
}

.navbar-container .navbar-title {
  font-size: 1.5rem;
  font-weight: 500;
  width: var(--left-panel-width);
  padding-left: var(--container-space-left);
}

/* hide shoe title on mobile screen */
@media screen and (max-width: 600px) {
  .navbar-container .navbar-title {
    display: none;
  }
}
