.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: var(--navbar-height);
  border-bottom: 1px solid var(--element-border);
}

.navbar-container .navbar-title {
  font-size: 1.5rem;
  font-weight: 500;
  width: var(--left-panel-width);
  padding-left: var(--space-around);
}

/* hide shoe title on mobile screen */
@media screen and (max-width: 40rem) {
  .navbar-container .navbar-title {
    display: none;
  }
}
