.size-filter-container > * {
  padding: 1rem var(--space-around);
}

.size-filter-container .size-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.size-filter .size-filter-item {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid var(--element-border);
}

.size-filter-item.selected-shoe-size {
  outline: 1px solid black;
}
