.price-filter-container {
  border-top: 1px solid var(--element-border);
  border-bottom: 1px solid var(--element-border);
}

.price-filter-container .price-filter-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 3rem;
}

.price-filter-container > * {
  padding: 1rem 3rem;
}

@media screen and (max-width: 768px) {
  .price-filter-container .price-filter-title {
    padding: 1rem;
  }

  .price-filter-container > * {
    padding: 1rem;
  }
}

/* range slider css */
.range {
  display: grid;
  text-align: center;
  place-items: center;
  height: 80px;
  margin: 2rem 0;
}

.sliderValue {
  position: relative;
  width: 100%;
}

.sliderValue span {
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(0%) scale(0);
  font-weight: 500;
  top: -45px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.sliderValue span.show {
  transform: translateX(-70%) scale(0.7);
}

.sliderValue span:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: var(--form-control-color);
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.field .value {
  font-weight: 500;
}

.field .value.left {
  padding-right: 0.5rem;
}

.field .value.right {
  padding-left: 0.5rem;
}

.range input {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border: none;
  z-index: 2;
}

.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--form-control-color);
  border: 1px solid var(--form-control-color);
  cursor: pointer;
}

.range input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--form-control-color);
  border: 1px solid var(--form-control-color);
  cursor: pointer;
}

.range input::-moz-range-progress {
  background: #664aff;
}
